<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>CategoryCarServlet</servlet-name>
        <servlet-class>controller.CategoryCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEmployeeServlet</servlet-name>
        <servlet-class>controller.ViewEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <servlet-class>controller.AddEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployeeServlet</servlet-name>
        <servlet-class>controller.UpdateEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployeeServlet</servlet-name>
        <servlet-class>controller.DeleteEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEmployeeServlet</servlet-name>
        <servlet-class>controller.SearchEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeListServlet</servlet-name>
        <servlet-class>controller.EmployeeListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryCarServlet</servlet-name>
        <url-pattern>/CategoryCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEmployeeServlet</servlet-name>
        <url-pattern>/ViewEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <url-pattern>/AddEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployeeServlet</servlet-name>
        <url-pattern>/UpdateEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployeeServlet</servlet-name>
        <url-pattern>/DeleteEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEmployeeServlet</servlet-name>
        <url-pattern>/SearchEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeListServlet</servlet-name>
        <url-pattern>/EmployeeListServlet</url-pattern>
    </servlet-mapping>
</web-app>
